<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<style>
		body {
			margin: 5%;
			background-color: navajowhite;
			zoom: 190%;
		}
	</style>
	<section class="vh-100">
		<form align="center">
			<h3>Create an account for Customer</h3>
			<input type="Name" id="form3Example3" class="form-control form-control-lg"
				placeholder="Enter your name" />
			<label class="form-label" for="form3Example3"></label>
			<br></br>
			<input type="email" id="form3Example3" class="form-control form-control-lg"
				placeholder="Enter your email" />
			<label class="form-label" for="form3Example3"></label>
			<br><br>
			<input type="password" id="form3Example3" class="form-control form-control-lg"
				placeholder=" Enter  password" />
			<label class="form-label" for="form3Example3"></label>
			<br><br>
			<input type="text" id="form3Example3" class="form-control form-control-lg"
				placeholder=" Address" />
			<label class="form-label" for="form3Example3"></label>
			<br>
			<br>
			<input type="number" id="form3Example3" class="form-control form-control-lg"
				placeholder=" Contact no." />
			<label class="form-label" for="form3Example3"></label>
			<br><br>
			
			<button type="submit" form="form1" value="Register">Register</button>
			<br>
			 
			<p>Have already an account?<a href="SignInCustomer.html">Login here</a></p>
		</form>
	</section>
</head>

</html>